<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Admin{% endblock %}</title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'autocomplete.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'changelists.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dark_mode.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'forms.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'nav_sidebar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'responsive.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'responsive_rtl.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'rtl.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'widgets.css' %}">
</head>
<body>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
